$blue: #00cdfc;
$white: #ffffff;
$pink: #ff3c83;
$green: #4db78d;
$yellow: #ffb547;
$light-brown: #f2aeaf;
$accent-blue: #5890f4;
$light-grey:#f2f3f8;
$transparent-blue:rgba(88, 144, 244, 0.12);
$black:#000000;
$grey:#cccccc;
