.signup {
  height: 100%;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    .box {
      max-width: 500px;
      width: 100%;
      .sign-in {
        span {
          cursor: pointer;
        }
      }
    }
  }
}
